BrokerService/src/wsdl/localhost_8080/RuleBase/RuleBaseWeb.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://rulebase.me.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://rulebase.me.org/">

<xs:element name="BankToJson" type="tns:BankToJson"/>

<xs:element name="BankToJsonResponse" type="tns:BankToJsonResponse"/>

<xs:element name="GetBanks" type="tns:GetBanks"/>

<xs:element name="GetBanksResponse" type="tns:GetBanksResponse"/>

<xs:complexType name="BankToJson">
<xs:sequence>
<xs:element name="arg0" type="tns:bank" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="bank">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="BankToJsonResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GetBanks">
<xs:sequence>
<xs:element name="cs" type="xs:int"/>
<xs:element name="amount" type="xs:int"/>
<xs:element name="dur" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GetBanksResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>